<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cfvn.Properties.Settings.dgcf_vnConnectionString"
      connectionString="Data Source=DGSQL2;Initial Catalog=dgcf_vn;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="myConnectionString" value="server=192.168.3.10;database =dgcf_vn;uid =sa;pwd=268709;" />
    <add key="userid" value="admin" />
    <add key="userName" value="Administrator_test" />
    <add key="language" value="2" />
    <add key="imageSize" value="200" />
    <add key="studentCapaticyInClass" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>